:root{
    --text:#626262;
    --white:#fff;
    --black:black;
   --background:#2F303A;
   --button:#2196F3;
   --team:#F5F4FA;
}
*{
   box-sizing: border-box;
}
a{
    text-decoration: none;

}
ul{
    list-style: none;

}

.container{
    width: 1600px;
    margin: 0 auto ;
    padding: 0 15px 0 15px;
    border:1px solid orangered;
    
}
body{
    color:var(--text);
    background-color:var(--white);
    font-family:'Roboto';
    font-weight: 700;
    line-height: 1.17px;
    font-size: 16px;
}
.header{
    font-size: 14px;
    font-weight: 400;
}
.WebStudio{
    color: var(--black);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.33px;
    padding: 25px 0 ;
    display: flex;
    margin-right: 93px;
    
}
.header-link{
    color: var(--black);
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.33px;
 gap: 344px;
}
.header-wrap{
    display: flex;
    align-items: center;
}
.header-menu{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.header-contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

.hero{
   
    background-color: var(--background);
    height: 600px;
}

.advantages{
    padding: 94px 0 94px;
}
.list-advantages{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}

.projects{
    margin-bottom: 94px;
}
.images{
    display: flex;
    justify-content: center;
    
   gap: 30px;
}
.team{
    margin-top: 94px;
    background-color: var(--team);
}


.list-footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.logo{
    color: var(--white);
    text-align: start;
}
.footer{
    background-color:var(--black);
    height: 251px;
    padding: 60px 0 60px;
}





.btn{
    display: block;
    margin: 0 auto;
    padding: 10px 32px;
  font-size: 16px;
    font-weight: 700;
    line-height: 1.85px;
    background-color: var(--button);
    color: var(--white);

}
.h3{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.33px;
}
.p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.33px;
}
.h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.33px;
}
.h32{
   font-size: 16px;
    font-weight: 500;
    line-height: 1.33px;
}
