:root{
    --text:#626262;
    --white:#fff;
    --black:black;
   --background:#2F303A;
   --button:#2196F3;
}
*{
    color:var(--text);
    background-color:var(--white);
    font-family: 'Montserrat' , serif;
    font-weight: 400 ;
   font-size: 16px; /*inherit-наслідує від батьківського елемента*/
   text-decoration: none;
   list-style: none;
}
.container{
    width: 1600px;
    margin: 0 auto ;
    padding: 0 15px 0 15px;
    border:1px solid orangered;
    
}
body{
    font-family:'Roboto';
    font-weight: 700;
    line-height: 1.17px;
    font-size: 16px;
}
.header{

    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 24px 0 25px;
}
.WebStudio{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.33px;
    padding: 25px ;
    display: flex;
    
}

.navigation{
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.33px;
 
}

.section-button{
   
    background-color: var(--background);
    height: 600px;
}

.advantages{
    padding: 94px 0 94px;
}
.list-advantages{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}

.projects{
    margin-bottom: 94px;
}
.images{
    display: flex;
    justify-content: center;
    
   gap: 30px;
}
.team{
    margin-top: 94px;
}
.humans{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.list-footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.logo{
    color: var(--white);
    text-align: start;
}
.footer{
    background-color:var(--black);
    height: 251px;
    padding: 60px 0 60px;
}
.a{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.33px;
    text-decoration: none;

}
ul{
    list-style: none;
    display: flex;
}





h2{
    color:var(--black);
    text-align: center;
    font-weight: 700;
    font-size: 36px;
}

h1{
    font-size: 44px;
    font-weight: 900;
    line-height: 1.33px;
    text-align: center;
}
.btn{
    display: block;
height: 49px;
width: 217px;
  font-size: 16px;
    font-weight: 700;
    line-height: 1.33px;
    background-color: var(--button);
    color: var(--white);

}
.h3{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.33px;
}
.p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.33px;
}
.h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.33px;
}
.h32{
   font-size: 16px;
    font-weight: 500;
    line-height: 1.33px;
}
