:root{
    --text:#626262;
    --white:#fff;
    --black:black;
   --background:#2F303A;
}
body{
    font-family:'roboto';
}
a{
    text-decoration: none;
    line-height: 1.33px;
}
ul{
    list-style: none;
}

button{
    color:var(--black);
}
*{
    color:var(--text);
    background-color:var(--white);
    font-family: 'Montserrat' , serif;
    font-weight: 400 ;
   font-size: 16px; /*inherit-наслідує від батьківського елемента*/
   
}
.header{
    font-size: 14px;
    
    text-transform: uppercase;
}
.container{
    width: 1600px;
    margin: 0 auto ;
    padding:0 15px ;
    border:1px solid orangered;
}
h2{
    color:var(--black);
}
.WebStudio{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    
}
.navigation{
    
    font-weight: 500;
}
h1{
    
    font-weight: 900;
}
button{
  
    font-weight: 700;
}
.h3{
    
    font-weight: 700;
}
.p{
    
    font-weight: 400;
}
.h2{
    
    font-weight: 700;
}
.h32{
   
    font-weight: 500;
}
.a{
    
    font-weight: 400;
}
.footer{
    background-color:var(--black);
    
}