:root{
    --link:#2196F3;
    --text:#212121;
    --white:#fff;
    --gray:#757575;

}
.body{
    font-family:'Roboto';
    font-weight: 400;
    color: var(--text);
}
.button{
    color: var(--text);
    font-family:'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6px;
   
}


.header{
    color: var(--text);
    font-family:'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17px;
}

.logo{
    color: var(--text);
    font-family:'Raleway' ;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17px;
}
#number{
    color: var(--gray);
}
